{%- assign simple = simple | default: false -%}
{%- assign limit = limit | default: 999 -%}

<div class="order-history-table account__table">
  {% paginate customer.orders by 20 %}
    {% if customer.orders.size != 0 %}

      <table class="">
        <thead>
          <tr>
            <th>{{ 'customer.orders.order_number' | t }}</th>
            <th>{{ 'customer.orders.date' | t }}</th>
            {% unless simple == true %}<th class="hidden-xs">{{ 'customer.orders.total' | t }}</th>{% endunless %}
            {% unless simple == true %}<th class="hidden-xs">{{ 'customer.orders.payment_status' | t }}</th>{% endunless %}
            <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
            <th class="hidden-xs hidden-sm">{{ 'customer.orders.order_details' | t }}</th>
            <th class="hidden-xs hidden-sm">{{ 'customer.orders.reorder' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for order in customer.orders, limit: limit %}

            {%- assign reorder_link = '' -%}
            {%- for line_item in order.line_items -%}
              {%- if line_item.product.id -%}
                {%- assign reorder_link = reorder_link | append: line_item.variant_id | append: ':' | append: line_item.quantity -%}
                {%- assign reorder_link = reorder_link | append: ',' -%}
              {%- endif -%}
            {%- endfor -%}
            {%- assign reorder_link = reorder_link | strip | split: "" | reverse | join: "" | remove_first: ',' | split: "" | reverse | join: "" -%}

            <tr>
              <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | replace: '#', '' }}</td>
              <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: "%d %b %y" }}</td>
              {% unless simple == true %}<td class="hidden-xs" data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>{% endunless %}
              {% unless simple == true %}<td class="hidden-xs" data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>{% endunless %}
              <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                <span class="order-fulfillment-status" data-status="{{ order.fulfillment_status_label }}">{{ order.fulfillment_status_label }}</span></td>
              <td class="hidden-xs hidden-sm" data-label="{{ 'customer.orders.order_details' | t }}">
                 <a href="{{ order.customer_url }}">{{ 'customer.orders.view_details' | t }}</a>
              </td>
              <td class="hidden-xs hidden-sm" data-label="{{ 'customer.orders.reorder' | t }}">
                {%- if reorder_link != blank -%}
                  <a href="/cart/{{ reorder_link }}" data-no-instant>{{ 'customer.orders.add_cart_to_order' | t }}</a>
                {%- endif -%}
              </td>
            </tr>
            <tr class="order-history-table__lower">
              <td colspan="100">
                <a href="{{ order.customer_url }}">{{ 'customer.orders.view_details' | t }}</a>
                {%- if reorder_link != blank -%}
                  <a href="/cart/{{ reorder_link }}" data-no-instant>{{ 'customer.orders.add_cart_to_order' | t }}</a>
                {%- endif -%}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      <p>{{ 'customer.orders.none' | t }}</p>

    {% endif %}
    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endpaginate %}
</div>