<div class="section-part__inner hide" id="RecoverPasswordForm">


  <div class="part-title">
    <div class="part-title__pic">
      {%- include 'icon' with 'get-started-noodle', color: true -%}
    </div>
    <div class="part-title__wrap">
      <div class="part-title__subttl">{{ 'customer.login.title' | t }}</div>
      <div class="part-title__ttl">{{ 'customer.recover_password.title' | t }}</div>
    </div>
  </div>

  <div class="part-description">

    <div class="part-description__txt">
      <div class="section-header template__main-title text-{{ settings.page_header_text_align }}">

        {%- assign text_content = 'customer.recover_password.subtext' | t -%}
        {%- if text_content != blank -%}
        {%- include 'text' with text_content -%}
        {%- endif -%}
      </div>
    </div>

    {% form 'recover_customer_password', class: 'part-description__form' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
    <span class="hide reset-password-success"></span>
    {% endif %}

    <div class="form-group">
      <div class="form-control">
        <input type="email"
        name="email"
        id="RecoverEmail"
        class="{% if form.errors contains 'email' %}input-error{% endif %}"
        placeholder="{{ 'customer.login.email' | t }}"
        {% if hide_labels %}{% endif %}
        required
        spellcheck="false"
        autocapitalize="off"
        autofocus>
      </div>

    </div>

    <div class="form-group">
      <div class="form-vertical__actions text-center">
        <input type="submit" class="btn btn-black btn--wide btn--mega" value="{{ 'customer.recover_password.submit' | t }}">
      </div>
      <div class="form-vertical__actions text-center">
        <a href="#" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
      </div>
    </div>

    {% endform %}

  </div>

</div>