<div data-section-id="{{ section.id }}" data-section-type="instagram-feature" class="feature-instagram">

  {%- assign url = section.settings.title | replace: '@', '' | prepend: 'https://www.instagram.com/' -%}
  <div class="container page-width">
    <div class="feature-instagram__text">
      <div class="feature-instagram__username">
        {%- include 'icon' with 'instagram' -%}
        <a href="{{ url }}" target="_blank">{{ section.settings.title | replace: '@', '' | prepend: '@'}}</a>
      </div>
      <div class="feature-instagram__follow-text">
        <a href="{{ url }}" target="_blank">{{ section.settings.follow_text }}</a>
      </div>
    </div>

    <div class="{{ instashow_id }}"></div>
  </div>
  
</div>

{% schema %}
  {
    "name": "Instagram Feed",
    "settings": [
      {
        "label": "Username",
        "id": "title",
        "type": "text",
        "default": "@innocentpackaging"
      },
      {
        "type": "text",
        "id": "follow_text",
        "label": "Follow text",
        "default": "Follow us"
      }
    ],
    "presets": [
      {
        "name": "Instagram Feed",
        "category": "Promotion"
      }
    ]
  }
{% endschema %}
